.uber {
    color: white;
    background-color: black;
    border-style: none;
    width: 130px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.uber:hover {
    background-color: green;
}

.uber:active {
    opacity: 0.5;
}

.amazon {
    color: black;
    background-color: rgb(255, 216, 20);
    border-style: none;
    height: 35px;
    width: 180px;
    border-radius: 18px;
    font-size: 15px;
    margin-left: 8px;
    cursor: pointer;
}

.github {
    color: white;
    background-color: rgb(46, 164, 79);
    border-style: none;
    height: 40px;
    width: 110px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.bs-start {
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-style: none;
    background-color: rgb(121, 82, 179);
    height: 40px;
    width: 130px;
    border-radius: 4px;
    margin-left: 50px;
    cursor: pointer;
}

.bs-download {
    color: rgb(108, 117, 125);
    background-color: white;
    border-color: rgb(108, 117, 125);
    border-radius: 4px;
    border-style: solid;
    height: 40px;
    width: 130px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 4px;
    cursor: pointer;
}

.linked-apply {
    color: white;
    background-color: rgb(10, 102, 194);
    border-style: none;
    border-radius: 100px;
    height: 40px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
    transition: box-shadow 0.15s;
}

.linked-apply:hover {
    box-shadow: 5px 5px 10px black;

}

.linked-save {
    color: rgb(10, 102, 194);
    background-color: white;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-radius: 40px;
    height: 40px;
    width: 80px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6px;
}

.linked-save:hover {
    background-color: rgb(10, 102, 194);
    color: white;
}

.price {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.cart {
    background-color: rgb(255, 216, 20);
    border-style: none;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
}

.cart:hover {
    opacity: 0.8;
}

.cart:active {
    opacity: 0.5;
}

.buy {
    background-color: rgb(255, 164, 28);
    border-style: none;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-right: 40px;

}

.buy:hover {
    opacity: 0.8;
}

.buy:active {
    opacity: 0.5;
}

.backb {
    padding: 4px 6px 4px 6px;
}

.nextb {
    padding: 4px 6px 4px 6px;
    margin-right: 40px;
}

.stretchb {
    border-style: none;
    background-color: green;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    color: white;
    transition: padding 0.3s;
    cursor: pointer;
}

.stretchb:hover {
    padding: 16px 31px 16px 31px;
    text-align: center;
}

.shadow {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.shadow:active {
    margin-top: 3px;
    margin-left: 23px;
    box-shadow: none;
}

.uno {
    border-style: none;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    
    transition: padding 0.3s,
    margin 0.15s;
}

.uno:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 0px;
    margin-left: 0px;
}